<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Interface Guide</title>
</head>
<body>
    <h3>How to use this API</h3>

    <h5>This API consists of two main routes</h5>

    <p>*/tree/getAllTrees - Get a list of all the trees which consists of the tree name and ID number</p>

    <p>*/tree/getOneTree?id='some_id_number' - Get a single tree using a query parameter id</p>

    <h5>And the following subroutes</h5>
    <p>*/help - View the source code, documentation, and raise issues</p>
    <p>*/ - The current guide route you're on.</p>
</body>
</html>